.layout-one-image-container{
    display:flex;
    flex-wrap: wrap;
    background-image: url('../../assets/world-map.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: 100%;
    background-size: 65%;
}

.container-fluid{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.layout-one-content{
    padding: 3.125rem 5rem;
    padding-bottom: 0 !important;
    position: relative;
}

.layout-one-content-container{
    width: 100%;
    display: flex;
}


.layout-one-content-text-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.layout-one-content-text-p{
    color: #323233;
    margin-top: 50px;
    font-size: 20px;
    line-height: 1.5;
}

.layout-one-content-text{
    font-size: 3.5rem;
    line-height: 1;
    margin: 20px 0px 40px 0px;
    color: #323233;
}

.layout-one-content-color-red{
    font-weight: 700;
    color: #ec1851 !important;
}

.layout-one-content-form-container{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout-one-content-form-text{
    font-size: 2rem;
    font-weight: 700;
    color: #323233;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.layout-one-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout-one-input{
    margin: 5px 0px;
    height: 38px;
    width: 311px;
    border: transparent;
    border-radius: 05px;
}

.layout-one-input::placeholder {
    color: #B8B8B8;
    font-size: 16px;
    padding-left: 15px;
  }

  .layout-one-content-form-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.layout-one-content-form{
 height: 461px;   
 width: 374px;
 border-radius: 25px;
 position: relative;
 background-color: #F2F2F3;
 color: #d82e76 !important;
}
.layout-one-content-form::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 25px; 
    padding: 2px; 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
    background:linear-gradient(to right, #d82e76 0%, #ff032d 100%) !important;
  }